body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 18px; background-color: beige; color: #EF5926;
}
header,footer{
    background-color: #EF5926;color:#FFFFFF; border-radius: 25px;
}
.site-title{
    color: #FFFFFF;
}
#my-image{
    height:300px; box-shadow: 0px 0px 2px 1px black;
}
#myhobbies{
    list-style-type: square;
}
#myhobbies>li:nth-child(odd){
    background-color: #EF5926; color: #FFFFFF; border-radius: 25px;width:150px;
}
.links{
    list-style-type: none; 
}
.links a{
    text-decoration: none; color:#EF5926; background-color:beige; border:3px solid red;
}
.links a:hover{
    background-color: #FFFFFF; color:black; border: none; border-radius: 25px;
}
.subheading{
    font-weight: bolder; border-radius: 25px; background-color: #FFFFFF; 
}