html{
    box-sizing: border-box;
    font-family: 'open Sans', 'sans-serif';
    font-size: 12px;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

  /* laying out the welcome container to style the for mobile */
.welcome{ 
    width: 483px;
    margin: 0 auto;
}

/* laying out the wrapper container to style the header, main and footerinside it */
.wrapper{
    width: 100%;
}
/* creting a container for header section1 and header section2*/
.header{
   width: 100%;
}
/* adding black background color to header section and centering the content*/
.header-section1{
    background-color: #222;
    padding: 9px;
    padding-bottom: 0;
    text-align: center;
}
.header-section1-content{
    width: 100%;
    position: relative;
}
/*laying out the logo by giving width and background color to logo container and positing the logo */
.logo{
    background-color:#c78c06;
    height:125px
}
.logo img{
    height: 70px;
   position: absolute;
   left: 0px;
}
/* styling the links by adding color and margin */
.nav-links a{
    text-decoration: none;
    color: rgb(199, 140, 6, 0.8);
}
.nav-links{
    margin-top: 30px;
}
nav{
    position: relative;
    bottom: 57px;
}
.nav-links:nth-child(1) a{
    background-color:#c78c06;
    color: #222;
}
/* add size and font family for navigation */
.header-section1-content nav{
    font-family: 'open Sans', 'sans-serif';
    font-size: 0.7rem;
    font-weight: 500;
}
/* positing and styling the search icon and search bar */
.search{   
    bottom: 37px;
    position: relative;

}
.search input{
    width: 440px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
}
.fa-magnifying-glass{
    color: #c78c06;
    border: 1px #c78c06 solid;
    height: 26px; 
    width: 27px;
    position: absolute;
    top: 0cm;
    right: 0cm;
}
/* css valid */

 /* adding background image and width and height to header-section2 */
.header-section2{
    height: 394px;
    background-image: url(../images/header-section2-backgound.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
/* adding transparent black background to header section2 content and positing it*/
.header-section2-content{
    background-color: rgb(34, 34, 34, 0.7);
    position: absolute;
    top: 50px;   
}
/* adding font size, family, weight margin and line hight to the heading and paragraph of header section 2 */
.header-section2-content h1{ 
    font-family: 'open Sans', 'sans-serif';
    font-size: 2.9rem;
    font-weight: 674;
    line-height: 4rem;
    margin-left: 0.6rem;
    margin-top: 2rem;
    color: #ffffff; 
}
.header p{
    font-family: 'open Sans', 'sans-serif';
    font-size: 0.6rem;
    font-weight: 100;
    line-height: 0.9rem;
    margin: 0.5rem;
    color: #ffffff;
}
/* css valid */

/* creating a container to layout about us, our services, our visio, our team and contact section */
.main{
    width: 100%;
}
/* adding background color, width,height, padding and margin to about Us section */
.main-section1{
    background-color: #ffe6ac; 
}
.main-section1-content{
    width: 100%;
    padding: 0.5rem;
    padding-top: 1.2rem;
}
/* styling the image
inside About Us section */
.main-section1-content img{
    width: 100%;
    height: 220px;
    margin: 0 auto;
}
/* styling all main headings(h2) in main section */
.main h2{
    font-family: 'open Sans', 'sans-serif';
    font-size: 2rem;
    font-weight: 740;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}
/* styling all the paragraphs in main section */
.main p{
    font-family: 'open Sans', 'sans-serif';
    font-size: 0.6rem;
    font-weight: 672;
    line-height: 0.8rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
/* css valid */

/* adding width, margina and padding to main section 2  amd main section2 content */
.main-section2{
    margin: 0.5rem;
    padding-bottom: 0.3rem;
}
.main-section2-content{
    width: 100%;
    padding-top: 1rem;
}
/* styling the h3(sub heading) inside main section 2 */
.main-section2 h3{
  font-family: 'open Sans', 'sans-serif';
  font-size: 1.4rem;
  font-weight: 750;
  margin-left: 0.4rem;
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;
}
/* adding margin to paragraps in main section 2 */
.main-section2 p{
    margin-left: 0.4rem;
    margin-bottom: 0.1rem;
}
/* styling all the service boxes inside main section 2 */
.digital-transformation, .marketing, .video-production, .web-development, .print{
    width: 100%;
    background-color: #ffe6ac;
    margin-bottom: 0.5rem;
}
/* styling all the images in service boxes */
.main-section2-content img{
    width: 100%;
    height: 290px;
}
/* styling all the buttons */
.button{
  font-family: 'open Sans', 'sans-serif';
  font-size: 0.9rem; 
  font-weight: 500;
  padding: 1.2rem;
  border: none;
  margin: 0.5rem;
}
/* adding background color and color to button in header-section2 */
.one{
    background-color: #c78c06;
  color: #222;
}
/* adding color to the buttons in our services section */
.two, .three ,.four, .five, .six, .seven{
    background-color: #222;
    color: rgb(255, 255, 255, 0.8);
}
/* adding space between button content and icon */
.button .fa-play{
    margin-left: 0.5rem;
    color: #ffffff;
}
.one .fa-play{
    color: #222;
}
/* css valid */

/* adding background image to and padding to our vision section*/
.main-section3{
    width: 100%;
    height: 190px;
    padding: 0.4rem;
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* creating a container to layout the heading, paragraph and button */
.main-section3-content{
    width: 100%;
    height: 190px;
}
/* styling the heading, paragraph and button of our vision section */
.main-section3 h4{
    color: #ffffff;
    font-family: 'open Sans', 'sans-serif';
    font-size: 1.2rem;
    font-weight: 750;
    margin-left: 0.3rem;
    margin-top: 1.3rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.2rem;
}
.main-section3 p{
    color: rgb(255, 255, 255, 0.8);
    margin-left: 0.3rem;
} 
/*  styling the button inside our vision */
.seven{
    background-color: rgba(3, 18, 39, 0.8);
    border: #c78c06 solid 1px;
}
/* css valid */

/* creating a container outside the content of our team section to layout john and bob */
.main-section4{
    margin: 0.5rem;
}
.main-section4-content{
    width: 100%;
    padding-top: 0.6rem;
}
/* styling the images inside the team section */
.john img, .bob img{
    width: 100%;
}
/* styling the heading, subheadin and paragraph in john and bob */
.john h5, .bob h5{
font-family: 'open Sans', 'sans-serif';
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.4rem;
}
.john h6, .bob h6{
    font-family: 'open Sans', 'sans-serif';
      font-size: 0.7rem;
      font-weight: 740;
      margin: 0.4rem;
}
.john p, .bob p{
    font-family: 'open Sans', 'sans-serif';
    font-size: 0.6rem;
    font-weight: 650;
    margin: 0.4rem;
    line-height: 0.8rem;
    padding-bottom: 0.9rem;
}
/* styling the horizontal line inside the jon and bob section */
hr{
    margin: 0.4rem;
    background: #c78c06;
    height: 1.5px;
    border: none;
}
/* adding backgound color to john and bob section */
.john, .bob{
    width: 100%;
    background-color: #ffe6ac;
    margin-bottom: 0.5rem;
}
/* adding margin, width and padding to main-section5  and main-section5 -content container */
.main-section5{
    margin: 0.5rem;
}
.main-section5-content{
    width: 100%;
    padding-top: 0.6rem;
}
/* styling the sub headings in contact us section */
.message h7, .hours h7, .location h7{
    font-family: 'open Sans', 'sans-serif';
      font-size: 1.4rem;
      font-weight: 780;
}
.message, .hours, .location{
    width: 100%;
    margin-bottom: 1.2rem;
} 
.message form{
    margin-top: 0.7rem;
    font-family: 'open Sands', 'sans-serif';
    font-size: 0.7rem;
    font-weight: 530;
}
/* styling the forms in contact section */
#name, #email{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    min-height: 23px;
}
textarea{
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    width: 100%;
    min-height: 100px;
}
/* styling the button in form */
button[type="submit"]{
    background-color: #222;
    color: #c78c06;
}
/* styling the table
by adding border, height, margin , padding, color and align in middle to table cells */
.hours th, .hours td{
    margin-top: 0.6rem;
    border: 1px solid;
    height: 2.3rem;
    vertical-align: middle;
    padding-left: 0.7rem;  
    font-family: 'open Sands', 'sans-serif';
    font-size: 0.6rem;
    font-weight: 900;
}
.hours table{
    width: 100%;
    margin-top: 0.7rem;
}
.hours th{
    background-color: #ffe6ac;
}
.location{
    width: 100%;
}
/* styling the map */
#map{
    margin-top: 0.7rem;
    width: 100%;
    height: 18rem;
}
/* css valid */

/* laying out the footer of the page */
.footer{
    width: 100%; 
    background-color: #222;  
    color: rgb(199, 140, 6, 0.8);
}
/* adding background color, width,height, padding and margin to about Us section */
.footer-content{
    font-family: 'open Sans', 'sans-serif';
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem;   
    padding-bottom: 0.3rem;
}
/* css valid */

/* desktop layout */
@media screen and (min-width: 760px) {
    /* incresing the size of container for desktop */
    .welcome{
        width: 1200px;
    }
    /* laying out the logo, navigation and search for desktop */
    .header-section1{
        padding: 35px;
    }
    .header-section1-content{
        position: relative;
    }
    .logo{
        height: 70px;
        width: 70px;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 5rem;
        position: relative;
    }
    .logo img{
        height: 80px;
    }
    nav{
       margin: 0;
        padding: 0;
        position: absolute;
        top: 0.5px;   
    }
    .nav-links{
        display: inline-block;
        padding-left: 2rem;
        font-size: 1.5rem;
        
    }
    .nav-links:nth-child(1){
        margin-left: 190px;
    }
    .search{
        width: 226px; 
        position: absolute;
        bottom: 40px;
        right: 50px;
    }
    .search input{
        width: 200px;
    }
    /* css valid */
    /* increasing the height of backgrond image */
    .header-section2{
        height: 600px;
    }
    /* centering the black background container */
    .header-section2-content{
        width: 1000px;
        height: 400px;
        margin-left: 100px;
        margin-top: 50px;
        padding-top: 50px;
    }
    /* incearsing the size and weight of heading and paragraph */
    .header h1{
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 6rem;
    }
    .header p{
    font-size: 0.7rem;
    font-weight: 100;
    line-height: 1rem;
    }
    .main-section1-content img{
        float: left;
    }
    .main-section2-content h2{
        margin: 0;
        padding: 0;
        grid-area: heading;
    }
    /* styling the our services boxes using the grid property */
    /* giving name to the elements of grid */
    .digital-transformation{
        grid-area: digital;
    }
    .marketing{
        grid-area: marketing;
    }
    .video-production{
        grid-area: video;
    }
    .web-development{
        grid-area: web;
    }
    .print{
        grid-area: print;
    }
    .main-section2{
        padding-left: 100px;
        padding-right: 100px;
    }
    .main-section2-content{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
       "heading heading . . . ."
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "video video web web print print"
        "video video web web print print"
        "video video web web print print"
        "video video web web print print"
        "video video web web print print"
        "video video web web print print"
        "video video web web print print"
        "video video web web print print"
        ;
        grid-gap: 10px;
        grid-row-gap: 5px;
        justify-self: center;
        align-self: center;
    }
    /* increasing the size of the font and line height */
    .main p{
        font-size: 0.7rem;
        font-weight: 600;
        line-height: 1rem;
    }
    /* css valid */
    /* centering the content of our vision */
    .main-section3{
        padding-left: 60px;
        padding-right: 60px;
    }
    /* laying out our team container */
    .main-section4{
        padding-left: 100px;
        padding-right: 100px;
    }
  
    .john{
        height: 328px;
        margin-bottom: 0cm;
        padding-bottom: 0cm;
    }
    .bob{
        height: 328px;
        margin-top: 0cm;
        margin-top: 0cm;
        padding-top: 0cm;
    }  
    /* decreasing the size of our team members image */
    .john img{
        width: 502px;
        padding-right: 10px;
        float: left;
    }
    .bob img{
        width:502px;
        padding-left: 10px;
        float: right;
    }
    .bob h5{
        margin-top: 0;
    }
    /* css valid */
    
   
}

